{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	<h1 align="center">Selling</h1>
	<form method="POST">
		<textarea name="text" id="text" class="form-control">
		</textarea>
		<br />
		<div align="center">
			<button type="submit" class="btn btn-lg btn-dark">
				SELL
			</button>
		</div>
	</form>
	<h1 align="center">Upload file</h1>
	<form method="POST">
		<input type="file" name="file1">
		<input type="submit">
	</form>
	
{% endblock %}